workflows/ChatBot_CcpXA9LqXMT8woBI.json
[{"updatedAt":"2026-01-04T13:10:36.000Z","createdAt":"2026-01-04T06:42:28.354Z","id":"CcpXA9LqXMT8woBI","name":"ChatBot","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.body.message }}","options":{"systemMessage":"너는 유능한 에이전트야.\n질문에 한글로 대답해줘.\n질문의 대답은 아래와 같이 해줘 \n- 제목: \n- 내용:\n- 출처:\n- 파일형식:\n\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-48,-208],"id":"e579174c-f3db-4d64-9127-6128c0d6ff3e","name":"AI Agent"},{"parameters":{"model":"qwen2:7b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[-176,16],"id":"96644ffe-5df8-4dde-a4f7-80c0b63b7907","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"DpMO7L7A0UXyQv88","name":"Ollama account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.body.sessionId }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-16,16],"id":"54038353-1f59-4820-ab06-0c5bccaf8089","name":"Simple Memory"},{"parameters":{"mode":"retrieve-as-tool","toolName":"documents","toolDescription":"저장소","qdrantCollection":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[160,16],"id":"b563e2f0-7c1f-49ff-8257-ead8206bec92","name":"Qdrant Vector Store1","credentials":{"qdrantApi":{"id":"LBAmHJFt8Y3EWNp8","name":"QdrantApi account"}}},{"parameters":{"model":"nomic-embed-text:latest"},"type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[96,208],"id":"774ebfca-60e5-4387-91ce-2a3dd9b2160f","name":"Embeddings Ollama1","credentials":{"ollamaApi":{"id":"DpMO7L7A0UXyQv88","name":"Ollama account"}}},{"parameters":{"httpMethod":"POST","path":"chat","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-288,-208],"id":"7fd91d3c-0e6e-48c5-bfa4-03e9ab4d6d46","name":"Webhook","webhookId":"e0a27d4b-22a6-458a-988f-490583b20fb9"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ reply: $json.output }) }}\n","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[304,-208],"id":"477c3e1b-dd5c-4698-b22f-271a0a74e190","name":"Respond to Webhook"}],"connections":{"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Qdrant Vector Store1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings Ollama1":{"ai_embedding":[[{"node":"Qdrant Vector Store1","type":"ai_embedding","index":0}]]},"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ea5655c4-26d9-44ba-82c1-0e5d23a13f76","activeVersionId":"ea5655c4-26d9-44ba-82c1-0e5d23a13f76","versionCounter":18,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-01-04T06:42:28.369Z","createdAt":"2026-01-04T06:42:28.369Z","role":"workflow:owner","workflowId":"CcpXA9LqXMT8woBI","projectId":"4vuUw7E0x2yc0QeP","project":{"updatedAt":"2025-12-26T05:34:22.815Z","createdAt":"2025-12-26T05:33:34.256Z","id":"4vuUw7E0x2yc0QeP","name":"태수 최 <eldis2000@gmail.com>","type":"personal","icon":null,"description":null}}]}]