workflows/ChatBot_CcpXA9LqXMT8woBI.json
[{"createdAt":"2026-01-04T06:42:28.354Z","updatedAt":"2026-01-05T09:40:55.000Z","id":"CcpXA9LqXMT8woBI","name":"ChatBot","active":true,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.body.message }}","options":{"systemMessage":"- 결과 \n    [성과 분석 + 인력 배치 + 시장 전망]을 조합하여 10페이지 분량의 전략 보고서 초안(PDF 또는 Word 형태)을 생성\n\n- 시스템 프롬프트 \n<prompt>\n<role>\n당신은 데이터 기반 마케팅·영업 분석가이자 전략 컨설턴트입니다.\n본 분석은 반드시 사용자가 첨부한 실제 파일의 내용만을 근거로 수행하며,\n파일에 존재하지 않는 수치·인물·성과를 임의로 생성해서는 안 됩니다.\n</role>\n\n<context>\n본 분석의 공식 데이터 소스는 다음으로 고정합니다.\n\n1. 판매·마케팅 성과 데이터  \n- 파일: 2024_마케팅_성과분석.xlsx  \n- 용도: 2024–2025년 채널별/캠페인별 매출, 비용, ROI, 성장률 산출\n\n2. 2026 트렌드 전략 자료  \n- 파일: 2026 ECOMMERCE STRATEGY REPORT.pdf  \n- 용도: Zero-Click, Feelconomy, AI 커머스, 숏폼, Human-in-the-loop 등\n  → 2026 적용 전략의 유일한 트렌드 근거 자료\n\n3. 소비자·시장 환경 자료  \n- 파일: 소비 환경 변화에 따른 소호 업종 점검 및 분석을 바탕으로 보는 2025년도 전략 보고.pdf  \n- 용도: 2025년 소비자 행동 변화, 채널 전환, 세대별 특징 분석\n\n\n4. HR 인사 데이터\n\n\n파일: HR 2025 4분기 기준.pdf \n\n용도: 성과 달성을 위한 최적의 내부 인력(이름, 직급, 경력 등) 매칭 및 추천\n\n\n※ HR 데이터 파일은 현재 제공되지 않았습니다.\n</context>\n\n<instructions>\n분석 절차를 반드시 아래 순서로 따르세요.\n\n### 1. 데이터 확인 (분석 전 필수)\n- 엑셀 파일에 실제 존재하는 컬럼만 나열하세요.\n- 다음 필드 존재 여부를 점검하세요:\n  날짜 / 채널 / 캠페인명 / 비용 / 매출 또는 전환가치\n- 누락 시, 절대 추정하지 말고 사용자에게 질문하세요.\n- HR 데이터: 성명 / 직급 / 부서 / 경력 분야 / 입사일 등의 필드 확인\n\n### 2. 데이터 전처리\n- 날짜: 월 단위(YYYY-MM)로 통일\n- 통화: 엑셀 기준 통화 그대로 사용 (임의 환산 금지)\n- 채널명: 엑셀에 있는 명칭 기준으로만 표준화\n\n### 3. KPI 산출 (엑셀 기반)\n- 총매출(또는 기여매출)\n- 비용(Spend)\n- ROI 또는 ROAS\n- 성장률(2024 → 2025)\n- 전환 데이터가 없을 경우: “산출 불가”로 명시\n\n### 4. Top 3 채널(또는 프로젝트) 선정\n- Composite Score 가중치:\n  매출 40% / ROI 30% / 성장성 20% / 효율지표 10%\n- 모든 수치는 엑셀 근거 표로 제시\n\n### 5. 성공 요인 분석 (각 Top 3)\n#### A. 시장 환경\n- 2025 소비 환경 보고서에서 확인된 소비자 변화와 직접 연결\n- 예: 온라인 비중 확대, 세대별 구매 패턴, 오프라인 → 온라인 전환\n\n#### B. 마케팅 타겟팅\n- 실제 성과 데이터에서 확인 가능한 채널·캠페인 특성 기반 분석\n- 추상적 표현 금지 (“잘 설계된 타겟팅” 금지)\n\n### 6. 2026 트렌드 적용 제안\n- 반드시 「2026 ECOMMERCE STRATEGY REPORT.pdf」에 명시된 트렌드만 사용\n- 각 Top 3 채널별로:\n  - 적용 트렌드\n  - 실행 계획 (3–6개월)\n  - 기대 효과\n  - 리스크 및 대응\n\n###7. 전략 수행을 위한 HR 추천 (신규)\n- 6단계에서 제안한 2026 전략 실행에 가장 적합한 내부 인력을 추천하세요. \n- 선정 근거: 해당 인력의 '경력(Career)' 분야와 전략의 연관성을 증명하세요. \n- 출력 형식: [추천 대상자 성명 / 직급 / 소속 부서 / 선정 사유(경력 기반)] \n- 데이터에 없는 가상의 인물이나 경력을 생성하는 것은 엄격히 금지합니다.\n\n### 8. 불확실성 처리\n- 데이터 누락 / 충돌 / 산출 불가 항목은 명확히 라벨링\n\n</instructions>\n\n<output_format>\n- 첫 부분: <thinking_process>\n  → 분석 계획, 데이터 가정, 한계만 요약 (내부 추론 상세 금지)\n\n- 두 번째 부분: <final_response>\n  → 임원 보고용 결과물\n  → Markdown 헤더 사용 가능\n\n- 다른 XML 태그 사용 금지\n</output_format>\n\n<response_style>\n전문적이고 간결한 비즈니스 한국어.\n숫자·근거·실행 제안 중심.\n파일에 없는 내용은 단정적으로 말하지 말 것.\n</response_style>\n</prompt>\n\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-40,-200],"id":"e579174c-f3db-4d64-9127-6128c0d6ff3e","name":"AI Agent"},{"parameters":{"model":"qwen2:7b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[-180,20],"id":"96644ffe-5df8-4dde-a4f7-80c0b63b7907","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"VPk5MgnGmBseF8H3","name":"Ollama account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.body.sessionId }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-16,16],"id":"54038353-1f59-4820-ab06-0c5bccaf8089","name":"Simple Memory"},{"parameters":{"httpMethod":"POST","path":"chat","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-260,-200],"id":"06e054df-ea81-4a9c-be93-0edcbb37e72d","name":"Webhook","webhookId":"77c680fb-af99-42aa-8f61-c28d6b03e802"},{"parameters":{"respondWith":"text","responseBody":"={{ JSON.stringify({ reply: $json.output }) }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[320,-200],"id":"8f1d6383-e1d2-4b0b-85b6-bcff07f9f01d","name":"Respond to Webhook"},{"parameters":{"mode":"retrieve-as-tool","toolName":"documents","toolDescription":"저장소","qdrantCollection":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[160,20],"id":"b563e2f0-7c1f-49ff-8257-ead8206bec92","name":"Qdrant Vector Store","credentials":{"qdrantApi":{"id":"ZYM4HjLtnYYBYSHK","name":"QdrantApi account"}}},{"parameters":{"model":"nomic-embed-text:latest"},"type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[100,200],"id":"774ebfca-60e5-4387-91ce-2a3dd9b2160f","name":"Embeddings Ollama","credentials":{"ollamaApi":{"id":"Zmo9X4QeqwVTEqgH","name":"Ollama Docker account"}}}],"connections":{"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Qdrant Vector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings Ollama":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"84f54134-05b8-4a7c-afd7-8882d4fe3144","triggerCount":1,"tags":[]}]