workflows/MySQLTest_vNrsqssh1k8KfcHc.json
[{"createdAt":"2025-12-30T05:11:50.807Z","updatedAt":"2025-12-30T05:45:22.000Z","id":"vNrsqssh1k8KfcHc","name":"MySQLTest","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-600,-300],"id":"50780d09-ad98-4b64-bef4-40c3637db0f0","name":"When clicking ‘Test workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"57a8abe6-307a-47c2-8efe-b5ff1f53d06d","name":"title","value":"\"test\"","type":"string"},{"id":"83531033-d873-4f3f-8678-ffeea9c8bee7","name":"file_type","value":"\"PDF\"","type":"string"},{"id":"43f1716b-3593-4308-8ef5-c16bc57abb05","name":"source","value":"\"Internet\"","type":"string"},{"id":"1d418cd1-691d-4280-b7af-6342f4b4f504","name":"contents","value":"\"test11111\"","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-380,-300],"id":"3cf3f6ab-f9ca-4083-be72-013ce743bb22","name":"Edit Fields"},{"parameters":{"table":{"__rl":true,"value":"meta_table","mode":"list","cachedResultName":"meta_table"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"title","value":"={{ $json.title }}"},{"column":"file_type","value":"={{ $json.file_type }}"},{"column":"sorce","value":"={{ $json.source }}"},{"column":"contents","value":"={{ $json.contents }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-180,-300],"id":"57352be0-efda-47a4-a211-dd7256c7cad9","name":"MySQL","credentials":{"mySql":{"id":"6IQi6V6Ns0vwHmRF","name":"MySQL account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"MySQL","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Edit Fields":[{"json":{"title":"\"test\"","file_type":"\"PDF\"","source":"\"Internet\"","create_dt":"\"2025-12-30 00:00:00\"","contents":"\"test11111\""}}]},"versionId":"0f32ccd4-7874-486e-b6d1-11238577fe45","triggerCount":0,"tags":[]}]