workflows/OllamaTest_LZEBLoLoXUkvndzG.json
[{"createdAt":"2025-12-25T21:26:23.740Z","updatedAt":"2025-12-30T06:52:40.000Z","id":"LZEBLoLoXUkvndzG","name":"OllamaTest","active":false,"nodes":[{"parameters":{"promptType":"={{ $json.chatInput }}","text":"","hasOutputParser":true,"options":{"systemMessage":"You are a helpful assistant"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-320,-300],"id":"0a321b28-322c-4187-a1c9-6b3ae32ebbb1","name":"AI Agent"},{"parameters":{"model":"qwen2:7b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[-400,-80],"id":"41763d3f-12d0-4587-994a-ccb6e8037b7e","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"VPk5MgnGmBseF8H3","name":"Ollama account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-240,-80],"id":"c2949305-8526-40ee-89a0-dbe781d62169","name":"Simple Memory"},{"parameters":{"public":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-540,-300],"id":"9e2e2959-9e1a-4caa-ae61-49b725fd4d6a","name":"When chat message received","webhookId":"74dd828f-8e63-4a64-b86c-f1f755fe6368"}],"connections":{"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bc3b0dcb-3569-4850-8a8d-d118a8a6aab6","triggerCount":1,"tags":[]}]