workflows/Qdrant_RAG_9TXc3iSYUw6qjvqO.json
[{"createdAt":"2025-12-31T01:33:30.635Z","updatedAt":"2025-12-31T06:52:22.000Z","id":"9TXc3iSYUw6qjvqO","name":"Qdrant_RAG","active":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"SELECT\n*\nfrom meta_table as mt \ninner join content_table as ct on mt.seq_id = ct.content_id\nwhere embeding_yn is null\nlimit 2","options":{}},"id":"28662e13-ff75-44d9-8912-e036b4c3b441","name":"MySQL Select","type":"n8n-nodes-base.mySql","typeVersion":2,"position":[-820,-340],"credentials":{"mySql":{"id":"6IQi6V6Ns0vwHmRF","name":"MySQL account"}}},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[-600,-340],"id":"9f8d26f8-61ad-460a-a40a-bf9c51896fd5","name":"Qdrant Vector Store","credentials":{"qdrantApi":{"id":"ZYM4HjLtnYYBYSHK","name":"QdrantApi account"}}},{"parameters":{"model":"nomic-embed-text:latest"},"type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[-660,-120],"id":"884a9e08-98e6-4f11-83d9-1d147aba257e","name":"Embeddings Ollama","credentials":{"ollamaApi":{"id":"VPk5MgnGmBseF8H3","name":"Ollama account"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={\n  \"문서번호\":{{ $('MySQL Select').item.json.seq_id }}\n  \"페이지번호\":{{ $('MySQL Select').item.json.page_no }}\n  \"제목\": \"{{ $('MySQL Select').item.json.title }}\",\n  \"파일타입\": \"{{ $('MySQL Select').item.json.file_type }}\",\n  \"출처\": \"{{ $('MySQL Select').item.json.sorce }}\",\n  \"등록일자\": \"{{ $('MySQL Select').item.json.create_dt }}\",\n  \"내용\": {{ $('MySQL Select').item.json.content }}\n}","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[-460,-120],"id":"cb67b394-d85c-4629-8344-a409a9e76ca7","name":"Default Data Loader"},{"parameters":{"chunkOverlap":200,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[-500,60],"id":"56455497-1dab-4cc8-99b8-0cb66322c17b","name":"Recursive Character Text Splitter"},{"parameters":{"public":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-980,360],"id":"c565279f-dc88-47da-bbf3-22cd68f47cfa","name":"When chat message received","webhookId":"04694bae-798c-45cc-9a1b-c0b16d02d4d0"},{"parameters":{"options":{"systemMessage":"너는 유능한 에이전트야.\n질문에 한글로 대답해줘.\n질문의 대답은 아래와 같이 해줘 \n- 제목: \n- 내용:\n- 출처:\n- 파일형식:\n\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-760,360],"id":"2f815204-7e69-4e91-a963-210351f98b2c","name":"AI Agent"},{"parameters":{"model":"qwen2:7b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[-880,580],"id":"1fdda031-5aaa-4e08-a7d6-cfb5ca3fea44","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"VPk5MgnGmBseF8H3","name":"Ollama account"}}},{"parameters":{"contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-740,580],"id":"653cbb83-8a80-4dc4-b7a8-9a6ab1a23c0c","name":"Simple Memory"},{"parameters":{"mode":"retrieve-as-tool","toolName":"documents","toolDescription":"저장소","qdrantCollection":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[-560,580],"id":"2300e004-4761-4c8f-8f3a-74d8747b56cf","name":"Qdrant Vector Store1","credentials":{"qdrantApi":{"id":"ZYM4HjLtnYYBYSHK","name":"QdrantApi account"}}},{"parameters":{"model":"nomic-embed-text:latest"},"type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[-620,780],"id":"a2eba919-6e34-4ac3-ac39-c42ce3430a0d","name":"Embeddings Ollama1","credentials":{"ollamaApi":{"id":"VPk5MgnGmBseF8H3","name":"Ollama account"}}},{"parameters":{"content":"## RAG System","height":680,"width":1060,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1080,-460],"id":"303317ba-c97a-4201-a217-ab319d3e529c","name":"Sticky Note"},{"parameters":{"content":"## Chat System","height":640,"width":1060,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1080,240],"id":"73528675-5f1a-4159-b879-983b5701eb66","name":"Sticky Note1"},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1020,-340],"id":"5802450b-9e59-4c95-a752-44b213f15511","name":"Schedule Trigger"},{"parameters":{"operation":"executeQuery","query":"UPDATE meta_table\nSET embeding_yn = 'Y'\nWHERE seq_id = {{ $('MySQL Select').item.json.seq_id }}","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-240,-340],"id":"ecd91485-6fd0-4c59-b50f-2fcc94eba4bc","name":"MySQL","credentials":{"mySql":{"id":"6IQi6V6Ns0vwHmRF","name":"MySQL account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1020,-160],"id":"504bf0a3-b6b4-46cb-b659-cd25609c5095","name":"When clicking ‘Test workflow’"}],"connections":{"MySQL Select":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0}]]},"Embeddings Ollama":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Qdrant Vector Store1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings Ollama1":{"ai_embedding":[[{"node":"Qdrant Vector Store1","type":"ai_embedding","index":0}]]},"Qdrant Vector Store":{"main":[[{"node":"MySQL","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"MySQL Select","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"MySQL Select","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"48ff2b5c-fc36-4f52-a7ef-71e642a17f22","triggerCount":0,"tags":[]}]