workflows/Qdrant_RAG_9TXc3iSYUw6qjvqO.json
[{"updatedAt":"2026-01-04T06:41:27.000Z","createdAt":"2025-12-31T01:33:30.635Z","id":"9TXc3iSYUw6qjvqO","name":"Qdrant_RAG","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"SELECT\n*\nfrom meta_table as mt \ninner join content_table as ct on mt.seq_id = ct.content_id\nwhere embeding_yn is null\nlimit 2","options":{}},"id":"28662e13-ff75-44d9-8912-e036b4c3b441","name":"MySQL Select","type":"n8n-nodes-base.mySql","typeVersion":2,"position":[-816,-336],"credentials":{"mySql":{"id":"6IQi6V6Ns0vwHmRF","name":"MySQL account"}}},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[-608,-336],"id":"9f8d26f8-61ad-460a-a40a-bf9c51896fd5","name":"Qdrant Vector Store","credentials":{"qdrantApi":{"id":"ZYM4HjLtnYYBYSHK","name":"QdrantApi account"}}},{"parameters":{"model":"nomic-embed-text:latest"},"type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[-656,-128],"id":"884a9e08-98e6-4f11-83d9-1d147aba257e","name":"Embeddings Ollama","credentials":{"ollamaApi":{"id":"DpMO7L7A0UXyQv88","name":"Ollama account"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={\n  \"문서번호\":{{ $('MySQL Select').item.json.seq_id }}\n  \"페이지번호\":{{ $('MySQL Select').item.json.page_no }}\n  \"제목\": \"{{ $('MySQL Select').item.json.title }}\",\n  \"파일타입\": \"{{ $('MySQL Select').item.json.file_type }}\",\n  \"출처\": \"{{ $('MySQL Select').item.json.sorce }}\",\n  \"등록일자\": \"{{ $('MySQL Select').item.json.create_dt }}\",\n  \"내용\": {{ $('MySQL Select').item.json.content }}\n}","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[-464,-128],"id":"cb67b394-d85c-4629-8344-a409a9e76ca7","name":"Default Data Loader"},{"parameters":{"chunkOverlap":200,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[-496,64],"id":"56455497-1dab-4cc8-99b8-0cb66322c17b","name":"Recursive Character Text Splitter"},{"parameters":{"options":{"systemMessage":"너는 유능한 에이전트야.\n질문에 한글로 대답해줘.\n질문의 대답은 아래와 같이 해줘 \n- 제목: \n- 내용:\n- 출처:\n- 파일형식:\n\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-768,368],"id":"2f815204-7e69-4e91-a963-210351f98b2c","name":"AI Agent"},{"parameters":{"model":"qwen2:7b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[-896,592],"id":"1fdda031-5aaa-4e08-a7d6-cfb5ca3fea44","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"DpMO7L7A0UXyQv88","name":"Ollama account"}}},{"parameters":{"contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-736,592],"id":"653cbb83-8a80-4dc4-b7a8-9a6ab1a23c0c","name":"Simple Memory"},{"parameters":{"mode":"retrieve-as-tool","toolName":"documents","toolDescription":"저장소","qdrantCollection":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[-560,592],"id":"2300e004-4761-4c8f-8f3a-74d8747b56cf","name":"Qdrant Vector Store1","credentials":{"qdrantApi":{"id":"ZYM4HjLtnYYBYSHK","name":"QdrantApi account"}}},{"parameters":{"model":"nomic-embed-text:latest"},"type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[-624,784],"id":"a2eba919-6e34-4ac3-ac39-c42ce3430a0d","name":"Embeddings Ollama1","credentials":{"ollamaApi":{"id":"DpMO7L7A0UXyQv88","name":"Ollama account"}}},{"parameters":{"content":"## RAG System","height":680,"width":1060,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1088,-464],"id":"303317ba-c97a-4201-a217-ab319d3e529c","name":"Sticky Note"},{"parameters":{"content":"## Chat System","height":640,"width":1060,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1088,240],"id":"73528675-5f1a-4159-b879-983b5701eb66","name":"Sticky Note1"},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1024,-336],"id":"5802450b-9e59-4c95-a752-44b213f15511","name":"Schedule Trigger"},{"parameters":{"operation":"executeQuery","query":"UPDATE meta_table\nSET embeding_yn = 'Y'\nWHERE seq_id = {{ $('MySQL Select').item.json.seq_id }}","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-240,-336],"id":"ecd91485-6fd0-4c59-b50f-2fcc94eba4bc","name":"MySQL","credentials":{"mySql":{"id":"6IQi6V6Ns0vwHmRF","name":"MySQL account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1024,-160],"id":"504bf0a3-b6b4-46cb-b659-cd25609c5095","name":"When clicking ‘Test workflow’"},{"parameters":{"httpMethod":"POST","path":"chat","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1008,368],"id":"f7d4bcda-992c-401e-a3d2-50de8b64d27d","name":"Webhook","webhookId":"e0a27d4b-22a6-458a-988f-490583b20fb9"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"res\": \"{{ $json.output }}\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-416,368],"id":"7419a4b5-82d0-4864-931a-90a18b77c32d","name":"Respond to Webhook"}],"connections":{"MySQL Select":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0}]]},"Embeddings Ollama":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Qdrant Vector Store1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings Ollama1":{"ai_embedding":[[{"node":"Qdrant Vector Store1","type":"ai_embedding","index":0}]]},"Qdrant Vector Store":{"main":[[{"node":"MySQL","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"MySQL Select","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"MySQL Select","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d2224110-043c-4e61-afaa-118eeb9aaccd","activeVersionId":null,"versionCounter":10,"triggerCount":2,"tags":[],"shared":[{"updatedAt":"2026-01-04T00:11:53.227Z","createdAt":"2026-01-04T00:11:53.227Z","role":"workflow:owner","workflowId":"9TXc3iSYUw6qjvqO","projectId":"4vuUw7E0x2yc0QeP","project":{"updatedAt":"2025-12-26T05:34:22.815Z","createdAt":"2025-12-26T05:33:34.256Z","id":"4vuUw7E0x2yc0QeP","name":"태수 최 <eldis2000@gmail.com>","type":"personal","icon":null,"description":null}}]}]