workflows/SalesChatBot.json
{
  "name": "SalesChatBot",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "너는 매출 분석 전문가야. 사용자가 매출, 수익, 프로젝트 등에 대해 물어보면 'mysql_tool'을 사용하여 답변해줘. 조회된 데이터를 바탕으로 친절하게 요약해서 설명해줘.\n\n모든 대답은 한국어로만 해.\n\n<sales_data_tool>\n- 매출 및 성과 수치가 필요한 경우\n  반드시 \"MySQL Sales Tool\"을 사용하여 조회할 것\n- sales_performance 테이블은 2020~2025년 실제 매출 데이터이다\n- DB 결과에 없는 수치는 절대 추정하거나 생성하지 말 것\n- 전략·보고서의 모든 매출 수치는 DB 결과에 근거해야 한다\n</sales_data_tool>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -80,
        32
      ],
      "id": "3cc1e19f-1086-434e-b96c-d1178b6ba474",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -64,
        256
      ],
      "id": "55fc2309-9576-418c-ad14-c63a51f49464",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select \n    sales_id,\n    project_name,\n    year,\n    investment,\n    revenue,\n    profit,\n    deal_count,\n    growth_rate\nfrom sales_performance",
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.4,
      "position": [
        368,
        256
      ],
      "id": "b5a94613-2758-4d2d-bc2d-ef4cb0324fd9",
      "name": "MySQL Sales Tool",
      "credentials": {
        "mySql": {
          "id": "8PRvb2FsmBUhmlA4",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -224,
        256
      ],
      "id": "12a8fd6d-75fd-4981-91ff-d8fe77ff3124",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "15cB0FjM4KcUkdYc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        48,
        416
      ],
      "id": "c143ee68-74bb-41ee-9e75-c7b0b199e1e9",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "15cB0FjM4KcUkdYc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "documents_nomic_v1",
        "toolDescription": "임직원 정보",
        "qdrantCollection": {
          "__rl": true,
          "value": "documents_openai_large_v4",
          "mode": "list",
          "cachedResultName": "documents_openai_large_v4"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.1,
      "position": [
        80,
        256
      ],
      "id": "5f70cf0b-784e-409d-96f3-26e8632830ad",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "QZUy67NgdfYaPyRh",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Sales",
        "height": 736,
        "width": 1088
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -528,
        -112
      ],
      "id": "7c33aef0-2b09-480a-99b5-0f6608f742c1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sales-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -304,
        32
      ],
      "id": "a2215c46-b9c1-4d74-988e-622013c36ca1",
      "name": "Webhook",
      "webhookId": "08f85ff9-ec69-4239-b525-0beb27a8d2cc"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify({ reply: $json.output }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        272,
        32
      ],
      "id": "dcc0b05b-6bf2-41cb-8fee-bd971e5e3780",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "6fe7a9e7-e4c9-4ae3-ba11-a9748d84ef49",
  "meta": {
    "instanceId": "ff2629b0910ce3c387c2562bc563dd242a3072fdb1356526f2a6c973ffa9d251"
  },
  "id": "V48LStblDa6Kxwsp",
  "tags": []
}